/*
 * CSS for bursar printing
 * Authors: 
 *		
 *		Matthew Critchlow
*/
/* set colors and font to black and white */
body { color : #000000; background : #ffffff; font-family : "Times New Roman", Times, serif; font-size : 12pt; } 
/* hide items we don't want printed */
#header, #footer, #actions { display : none; }
/* re-style grid */
#grid {
	/*width: 100%;*/
	width:800px;
}
table.dataGrid tr.even td, table.dataGrid tr.even th { background-color:#FFF; }
table.dataGrid tr.odd td { background-color:#F4F7FB; }
table.dataGrid {
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
}
table.dataGrid td {
	border-left: solid 1px #000000;
	border-bottom: solid 1px #000000; 
}